// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Tweets */
div.tweet {
  border-bottom: solid 1px #DDD;
  padding:0.5em;
  margin:0px;
}

div.tweet p {
  margin: 0px;
}

.even {
  background-color: #E6F1F6;
}

div.user_and_moment {
  text-align:right;
}

div.highlight {
  background: #FFFCBB;
}