// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Users */
div.user {
  border-bottom: solid 1px #DDD;
  padding:0.5em;
  margin:0px;
}
